/log
/data
/roles
/temp
/.idea
/bin/modules
/bin/platform
/bin/custom/yb2bacceleratorstorefront
/bin/custom/suppliers
/bin/custom/sweets

/bin/custom/bands/classes
/bin/custom/bands/gensrc
/bin/custom/bands/.externalToolBuilders
/bin/custom/bands/.settings
/bin/custom/bands/.classpath
/bin/custom/bands/.project
/bin/custom/bands/platformhome.properties

/bin/custom/concerts/classes
/bin/custom/concerts/gensrc
/bin/custom/concerts/.externalToolBuilders
/bin/custom/concerts/.settings
/bin/custom/concerts/.classpath
/bin/custom/concerts/.project
/bin/custom/concerts/platformhome.properties

/config/*

!/config/localextensions.xml

*.xsd
