/log
/data
/roles
/temp
/.idea
/bin/modules
/bin/platform
/bin/custom/yb2bacceleratorstorefront
/bin/custom/suppliers
/bin/custom/sweets

/bin/custom/*/classes
/bin/custom/*/gensrc
/bin/custom/*/.externalToolBuilders
/bin/custom/*/.settings
/bin/custom/*/.classpath
/bin/custom/*/.project
/gin/custom/*/.springBeans
/bin/custom/*/platformhome.properties
/bin/custom/*/idea-module-files
/config/*

!/config/localextensions.xml

*.xsd
